html{
    background-color:rgb(46, 41, 32);

}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Londrina Solid', cursive;
    cursor: auto;
    cursor: url(pencil.cur), auto;
    border-radius: 3vmin;

}

#key {
    background: #302c2c;
    color: black;
    border-radius: 3vmin;
    position: fixed;
    top: 5%;
    left: 90%;
    width: 10vmin;
    height: 60vmin;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
 
.button {
    font-size: 3vmin;
    text-align:center;
    background: bisque;
    color: black;
    box-shadow: 0vmin 0vmin 0vmin 0.2vmin black inset;
    border-radius: 3vmin;
    padding: 2vmin;
    width: 5vmin;
    position: fixed;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: 0.5vmin;
    margin-top: 1vmin;

}
 
#resize {
    margin-top: 9vmin;
}

#pause {
    margin-top: 17vmin;
}

#save {
    margin-top: 25vmin;
}

#colorButton {
    margin-top: 33vmin;
}

#speedButton {
    margin-top: 41vmin;
}

#undoButton{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 49vmin;
    width: 1vmin;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: sideways-lr;
            writing-mode: vertical-lr;
    border-radius: 0;
    border-top-left-radius: 3vmin;
    border-bottom-left-radius: 3vmin;
}

#redoButton{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 49vmin;
    margin-left: 5vmin;
    width: 0.5vmin;
    -webkit-writing-mode:vertical-rl;
        -ms-writing-mode:tb-rl;
            writing-mode:vertical-rl;
    border-radius: 0;
    border-top-right-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
}
#colorSelector{
    height: 120px;
    width: 240px;
    background-color: #302c2c;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-100px;
    margin-top:-60px;
    z-index: 2;
    border-radius: 20px;
}


.color{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top:-40px;
    line-height: 40px !important;
}

.color:hover{
    transform:scale(105%);
    transition-duration: 50ms;
    z-index: 3;
}

#randomColorButton{
    background-color: #302c2c;
    color: white;
    margin-top: 140px;
    margin-left: 60px;
    width: 80px;
    font-size: larger;
    text-align: center;
    box-shadow: 0px 0px 0px 1px black inset;
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}
#color0{
    margin-left:-100px;
    background-color: green;
}

#color1{
    margin-left:-60px;
    background-color: white;
}

#color2{
    margin-left:-20px;
    background-color: green;
}
#color3{
    margin-left: 20px;
    background-color: white;
}

#color4{
    margin-left: 60px;
    background-color: green;
}
#color5{
    margin-left:-100px;
    margin-top:0px;

    background-color: white;
}

#color6{
    margin-left:-60px;
    margin-top:0px;

    background-color: green;
}
#color7{
    margin-left:-20px;
    margin-top:0px;

    background-color: white;
}

#color8{
    margin-left: 20px;
    margin-top:0px;

    background-color: green;
}
#color9{
    margin-left: 60px;
    margin-top:0px;

    background-color: white;
}


@media only screen and (max-width: 600px) {


}
 .button:hover{
     opacity: 80%;
     cursor: pointer;
 }

 .button:active {
    transform:translate(0%, 2%);
  }

  #tip{
    position: fixed;
    left: 50%;
    bottom: 0;
    font-size: 200%;
    width: 500px;
    height: 50px;
    margin-left:-250px;
    margin-top:-25px;
    color: white;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #302c2c;

  }

  .fadeout{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }

  .disappear{
      visibility: hidden;
      opacity: 0;
  }

  #overlay{
      width: 100%;
      height: 100%;
      position: fixed;
      background-color:rgba(0, 0, 0, 0.5);
      z-index: 1;
  }

.fas{
    color:white;
}

.box{
    background: #302c2c;
    border-radius: 20px;
    border: 2px solid black;
    border-bottom: 10px solid black;
    position: fixed;
    top: 85%;
    height: 70px;
    width: 79px;
    left: 10%;
    text-align: center;
    line-height: 55px !important;
    opacity: 50%;
    cursor: pointer;
}

#rightDirectionButton{
    transform: translateX(105%);
}

#upDirectionButton{
    transform: translateY(-105%);
}

#leftDirectionButton{
    transform: translateX(-105%);
}

.down-direction-button-clicked{
    transform: translateY(15%);
}

.left-direction-button-clicked{
    transform: translate(-105%, 15%) !important;
}

.right-direction-button-clicked{
    transform: translate(105%, 15%) !important;
}