html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: wheat;
    font-family: 'Londrina Solid', cursive;

}

#key {
    font-size: larger;
    background: #302c2c;
    color: black;
    border-radius: 20px;

    position: fixed;
    top: 5%;
    left: 85%;
    width: 100px;
    height: 455px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
 
.button {
    font-size: larger;
    text-align: center;
    background: bisque;
    color: black;
    box-shadow: 0px 0px 0px 1px black inset;
    border-radius: 20px;
    padding: 20px;
    width: 50px;
    position: fixed;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: 5px;
    margin-top: 5px;

}
 
#resize {
    margin-top: 80px;
}

#pause {
    margin-top: 155px;
}

#save {
    margin-top: 230px;
}

#colorButton {
    margin-top: 305px;
}

#speedButton {
    margin-top: 380px;
}
#colorSelector{
    height: 120px;
    width: 240px;
    background-color: #302c2c;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-100px;
    margin-top:-60px;
    z-index: 2;
    border-radius: 20px;
}

.color{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top:-40px;
}

.color:hover{
    transform:scale(110%);
    transition-duration: 50ms;
}

#randomColorButton{
    background-color: #302c2c;
    color: white;
    margin-top: 140px;
    margin-left: 60px;
    width: 80px;

}
#color0{
    margin-left:-100px;
    background-color: green;
}

#color1{
    margin-left:-60px;
    background-color: white;
}

#color2{
    margin-left:-20px;
    background-color: green;
}
#color3{
    margin-left: 20px;
    background-color: white;
}

#color4{
    margin-left: 60px;
    background-color: green;
}
#color5{
    margin-left:-100px;
    margin-top:0px;

    background-color: white;
}

#color6{
    margin-left:-60px;
    margin-top:0px;

    background-color: green;
}
#color7{
    margin-left:-20px;
    margin-top:0px;

    background-color: white;
}

#color8{
    margin-left: 20px;
    margin-top:0px;

    background-color: green;
}
#color9{
    margin-left: 60px;
    margin-top:0px;

    background-color: white;
}


@media only screen and (max-width: 600px) {

    #key {
        left: 50%;
    }
}
 .button:hover{
     opacity: 80%;
     cursor: pointer;
 }

 .button:active {
    transform:translate(0%, 2%);
  }

  #tip{
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 200%;
    width: 500px;
    height: 50px;
    margin-left:-250px;
    margin-top:-25px;
    color: white;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #302c2c;

  }

  .fadeout{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }

  .disappear{
      visibility: hidden;
      opacity: 0;
  }

  #overlay{
      width: 100%;
      height: 100%;
      position: fixed;
      background-color:rgba(0, 0, 0, 0.5);
      z-index: 1;
  }

  .shake{
      
  }