html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: wheat;
}

 #clear {
    font-family: 'Londrina Solid', cursive;
    font-size: larger;
    background: bisque;
    color: black;
    box-shadow: 0px 0px 0px 1px black inset;
    border-radius: 20px;
    padding: 1em;
    position: fixed;
    top: 5%;
    left: 80%;
    margin-left: 10vmin;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    #clear {
        left: 50%;
    }
}
 #clear:hover{
     opacity: 80%;
     cursor: pointer;
 }


 #clear:active {
    transform:translate(0%, 2%);
  }